<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzw.springbootdemo.mapper.EmployeeMapper">

    <!-- id 自己指定,便于后面引用。-->
    <resultMap id="BaseResultMap" type="com.lzw.springbootdemo.entity.Employee">
        <id column="empid" jdbcType="INTEGER" property="empid"/>
        <result column="ename" jdbcType="VARCHAR" property="ename"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="mgr" jdbcType="INTEGER" property="mgr"/>
        <result column="hiredate" jdbcType="DATE" property="hiredate"/>
        <result column="sal" jdbcType="DOUBLE" property="sal"/>
        <result column="comm" jdbcType="DOUBLE" property="comm"/>
        <result column="deptno" jdbcType="INTEGER" property="deptno"/>
    </resultMap>

    <sql id="BASE_LIST_CLOUMN">
        empid
        ,ename,job,hiredate,sal,comm,deptno
    </sql>
    <select id="queryEmpList" resultMap="BaseResultMap">
        select <include refid="BASE_LIST_CLOUMN"/>
        from employee
    </select>


</mapper>